In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movies_metadata.csv')
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')
#csv - comma separated values

C:\Users\ayush\AppData\Local\Temp\ipykernel_9408\2824246191.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_metadata.csv')

In [3]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [5]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [6]:
credits = credits.astype(str)

In [7]:
keywords = keywords.astype(str)

In [8]:
movies = movies.merge(credits,on= 'id')

In [9]:
movies = movies.merge(keywords,on = 'id')

In [10]:
movies = movies.iloc[0:5000]

In [11]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'id': 818, 'name': 'based on novel'}, {'id':..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n..."

In [12]:
movies = movies[['imdb_id','keywords','title','overview','genres','cast','crew']]

In [13]:
movies.isnull().sum()

imdb_id      0
keywords     0
title        0
overview    21
genres       0
cast         0
crew         0
dtype: int64

In [14]:
movies.dropna(inplace=True)

In [15]:

movies.duplicated().sum()

40

In [16]:
movies.drop_duplicates(inplace=True)

In [17]:
import ast

In [18]:
def convert(obj):
    L = []
    for i in  ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [19]:
movies['genres'] = movies['genres'].apply(convert)

In [20]:
movies.head()

,imdb_id,keywords,title,overview,genres,cast,crew
0,tt0114709,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,tt0113497,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,tt0113228,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,tt0114885,"[{'id': 818, 'name': 'based on novel'}, {'id':...",Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[Comedy, Drama, Romance]","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,tt0113041,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",Father of the Bride Part II,Just when George Banks has recovered from his ...,[Comedy],"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [21]:
movies['keywords'] = movies['keywords'].apply(convert)

In [22]:
def convert3(obj):
    L = []
    counter = 0
    for i in  ast.literal_eval(obj):
        if counter != 3:
             L.append(i['name'])
             counter+=1
        else:
            break
    return L

In [23]:
movies['cast'] = movies['cast'].apply(convert3)

In [24]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [25]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [26]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [27]:
movies.head()

,imdb_id,keywords,title,overview,genres,cast,crew
0,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...",Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles]",[John Lasseter]
1,tt0113497,"[board game, disappearance, based on children'...",Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst]",[Joe Johnston]
2,tt0113228,"[fishing, best friend, duringcreditsstinger, o...",Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[Walter Matthau, Jack Lemmon, Ann-Margret]",[Howard Deutch]
3,tt0114885,"[based on novel, interracial relationship, sin...",Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devine]",[Forest Whitaker]
4,tt0113041,"[baby, midlife crisis, confidence, aging, daug...",Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[Steve Martin, Diane Keaton, Martin Short]",[Charles Shyer]

In [28]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [29]:
 movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
 movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
 movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [30]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
new_df = movies[['imdb_id','title','tags']]

In [32]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\ayush\AppData\Local\Temp\ipykernel_9408\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [33]:
new_df['tags'][0]

"Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences. Animation Comedy Family jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife TomHanks TimAllen DonRickles JohnLasseter"

In [34]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\ayush\AppData\Local\Temp\ipykernel_9408\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=45000,stop_words='english')

In [36]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [37]:
cv.get_feature_names()

C:\Users\ayush\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '05pm',
 '10',
 '100',
 '101',
 '10th',
 '11',
 '114',
 '1183',
 '11th',
 '12',
 '1200',
 '125th',
 '12th',
 '13',
 '1300',
 '13s',
 '13th',
 '14',
 '1429',
 '14th',
 '15',
 '150',
 '150000',
 '1500s',
 '150th',
 '1536',
 '1572',
 '1593',
 '15th',
 '15thcentury',
 '16',
 '1600',
 '1600s',
 '161',
 '1612',
 '164',
 '1642',
 '1649',
 '1651',
 '1653',
 '1656',
 '1669',
 '1671',
 '1681',
 '168th',
 '1691',
 '1692',
 '1695',
 '16th',
 '16thcentury',
 '17',
 '1700',
 '1700s',
 '1746',
 '1786',
 '17th',
 '17thcentury',
 '18',
 '180',
 '1800',
 '1804',
 '1815',
 '1816',
 '1820',
 '1820s',
 '1828',
 '1831',
 '1839',
 '1841',
 '1850',
 '1860',
 '1860s',
 '1862',
 '1863',
 '1868',
 '1869',
 '1870',
 '1871',
 '1880',
 '1885',
 '1887',
 '1889',
 '1890s',
 '1893',
 '1899',
 '18th',
 '18thcentury',
 '19',
 '1900',
 '1900s',
 '1902',
 '1904',
 '1905',
 '191',
 '1910',
 '1910s',
 '1912',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '192',
 '1920',
 '1920s',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1930s',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '19thcentury',
 '1st',
 '20',
 '200',
 '2000',
 '2000ad',
 '2000th',
 '2001',
 '2004',
 '2009',
 '2010',
 '2013',
 '2015',
 '2017',
 '2019',
 '2021',
 '2022',
 '2025',
 '2029',
 '2032',
 '2035',
 '2047',
 '2058',
 '2078',
 '20s',
 '20th',
 '20thcentury',
 '21',
 '21st',
 '22',
 '223',
 '2257',
 '22nd',
 '23',
 '24',
 '240',
 '2470',
 '25',
 '26',
 '27',
 '28',
 '28th',
 '29',
 '2nd',
 '2ndcentury',
 '30',
 '300',
 '3000',
 '301',
 '302',
 '30s',
 '30th',
 '31',
 '32',
 '34',
 '35',
 '350',
 '350lbs',
 '37',
 '39',
 '3d',
 '3po',
 '3rd',
 '40',
 '400',
 '4000',
 '40s',
 '40th',
 '427',
 '436',
 '44',
 '45',
 '47',
 '47th',
 '48',
 '49',
 '4k',
 '50',
 '500',
 '50s',
 '50th',
 '522',
 '54',
 '55',
 '5th',
 '60',
 '600',
 '6000',
 '60s',
 '60th',
 '64',
 '65k',
 '66',
 '663',
 '666',
 '68',
 '69',
 '6b',
 '6th',
 '70',
 '700',
 '701',
 '70s',
 '72',
 '73',
 '747',
 '75',
 '750',
 '77th',
 '7th',
 '80',
 '80s',
 '81',
 '84',
 '85',
 '86',
 '88',
 '8km',
 '8th',
 '8½',
 '90',
 '9000',
 '90210',
 '90s',
 '92',
 '922',
 '94',
 '95',
 '99',
 '_stakeout_',
 '_wizard',
 'aa',
 'aadwirtz',
 'aaliyah',
 'aalst',
 'aames',
 'aaron',
 'aaroneckhart',
 'aaronkimjohnston',
 'aaronnorris',
 'aaronrusso',
 'aaronschwartz',
 'abandoned',
 'abandonedbaby',
 'abandonedhouse',
 'abandonedmine',
 'abandonedship',
 'abandonedwoman',
 'abandoning',
 'abandonment',
 'abandons',
 'abbaskiarostami',
 'abbassayah',
 'abbe',
 'abberline',
 'abbess',
 'abbewool',
 'abbie',
 'abbiecornish',
 'abbot',
 'abbott',
 'abby',
 'abbé',
 'abc',
 'abdication',
 'abdolrahmanbagheri',
 'abduct',
 'abducted',
 'abduction',
 'abductor',
 'abductors',
 'abducts',
 'abel',
 'abelferrara',
 'aberdeen',
 'abernathy',
 'abetted',
 'abhorrent',
 'abhors',
 'abiding',
 'abigailclayton',
 'abigailcruttenden',
 'abilities',
 'ability',
 'able',
 'ably',
 'abo',
 'aboard',
 'abolitionist',
 'aboriginal',
 'aborigine',
 'aborigines',
 'abort',
 'aborted',
 'abortion',
 'abound',
 'abraham',
 'abrahampolonsky',
 'abrasive',
 'abroad',
 'abrupt',
 'abruptly',
 'abscond',
 'absence',
 'absences',
 'absent',
 'absolom',
 'absolute',
 'absolutely',
 'absorbed',
 'absorbing',
 'absorbs',
 'abstract',
 'absurd',
 'absurdism',
 'absurdity',
 'absurdly',
 'abu',
 'abundant',
 'abuse',
 'abused',
 'abusing',
 'abusive',
 'abusivefather',
 'abusivehusband',
 'abusivemother',
 'academic',
 'academics',
 'academies',
 'academy',
 'accent',
 'accept',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accessories',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidentaly',
 'accidently',
 'accidents',
 'accidentvictim',
 'acclaim',
 'acclaimed',
 'acclimates',
 'accolades',
 'accommodate',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompany',
 'accompanying',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplishment',
 'accordance',
 'accordian',
 'according',
 'accordion',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accounting',
 'accountingfraud',
 'accounts',
 'accruing',
 'acculturation',
 'accuracy',
 'accurate',
 'accuse',
 'accused',
 'accuses',
 'accustomed',
 'ace',
 'acebhatti',
 'aces',
 'aches',
 'achieve',
 'achieved',
 'achievements',
 'achieves',
 'achieving',
 'achilles',
 'aching',
 'acid',
 'acknowledge',
 'acknowleged',
 'ackroyd',
 'acme',
 'acne',
 'acolyte',
 'acoustic',
 'acquaintance',
 'acquaintances',
 'acquainted',
 'acquantance',
 'acquire',
 'acquired',
 'acquires',
 'acquisition',
 'acquitted',
 'acre',
 'acres',
 'acrobat',
 'acrobatics',
 'acronym',
 'acrophobia',
 'act',
 'acted',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activates',
 'active',
 'actively',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actually',
 'acute',
 'acutely',
 'ad',
 'ada',
 'adam',
 'adamabraham',
 'adamant',
 'adamarkin',
 'adambaldwin',
 'adambeach',
 'adambernstein',
 'adambrooks',
 'adamcollis',
 'adamgarcia',
 'adamhann',
 'adamhorovitz',
 'adamlavorgna',
 'adammarcus',
 'adammonty',
 'adamresnick',
 'adamrifkin',
 'adams',
 'adamsandler',
 'adamshankman',
 'adamsimon',
 'adamson',
 'adamtrese',
 'adanggaman',
 'adapation',
 'adapt',
 'adaptation',
 'adapted',
 'adapting',
 'adaption',
 'adapts',
 'adare',
 'add',
 'addams',
 'added',
 'addict',
 'addicted',
 'addiction',
 'addictions',
 'addictive',
 'addicts',
 'adding',
 'addition',
 'additional',
 'addled',
 'address',
 'addressed',
 'addresses',
 'adds',
 'adebimpe',
 'adekunle',
 'adelaide',
 'adelaidesouthaustralia',
 'adele',
 'adelyne',
 'adenkule',
 'adenoid',
 'adenyoung',
 'adeptly',
 'adherence',
 'adina',
 'adirondack',
 'adjoining',
 'adjourns',
 'adjust',
 'adjusted',
 'adjusting',
 'adleman',
 'administration',
 'administrator',
 'administrators',
 'admirable',
 'admiral',
 'admiration',
 'admire',
 'admired',
 'admirer',
 'admires',
 'admiring',
 'admit',
 'admits',
 'admitted',
 'adolescence',
 'adolescent',
 'adolescentboy',
 'adolf',
 'adolfhitler',
 'adolfoceli',
 'adolphcaesar',
 'adolphe',
 'adolphemenjou',
 'adopt',
 'adopted',
 'adoptedchild',
 'adopteddaughter',
 'adoptedson',
 'adoption',
 'adoptions',
 'adoptive',
 'adoptivefather',
 'adoptivemother',
 'adopts',
 'adorable',
 'adorably',
 'adoration',
 'adored',
 'adores',
 'adrenaline',
 'adrian',
 'adrianacaselotti',
 'adriandunbar',
 'adriane',
 'adriangrenier',
 'adrianlester',
 'adrianlyne',
 'adrianpasdar',
 'adrianpaul',
 'adrianzmed',
 'adrien',
 'adrienbrody',
 'adrienne',
 'adriennebarbeau',
 'adriennecorri',
 'adrienneking',
 'adrienneshelly',
 'adrift',
 'ads',
 'adult',
 'adultanimation',
 'adultasachild',
 'adulteducationcenter',
 'adulterer',
 'adulterous',
 'adulterouscouple',
 'adultery',
 'adulthood',
 'adulthumor',
 'adultress',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advances',
 'advankempen',
 'advantage',
 'advantages',
 'advantange',
 'advent',
 'adventure',
 'adventurer',
 'adventurers',
 'adventures',
 'adventuress',
 'adventurous',
 'adversaries',
 'adversary',
 'adverse',
 'adversities',
 'advertisement',
 'advertising',
 'advertisingagency',
 'advertisingexecutive',
 'advertisingexpert',
 'advice',
 'advised',
 'adviser',
 'advises',
 'advisor',
 'advisors',
 'advocate',
 'aerial',
 'aerialcombat',
 'aerobics',
 'aeronautics',
 'aeroplane',
 'aerosmith',
 'aerospace',
 'aesthetic',
 'afar',
 'afemoomilami',
 'affable',
 'affair',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affection',
 'affectionate',
 'affectionately',
 'affections',
 'affectless',
 'affects',
 'affiliate',
 'affirm',
 'affirming',
 'affleck',
 'afflict',
 'afflicted',
 'afflicting',
 'affliction',
 'afflictions',
 'affluence',
 'affluent',
 'afford',
 'afghan',
 'afghani',
 'afghanistan',
 'afield',
 'afire',
 'afloat',
 'afonso',
 'afoul',
 'afraid',
 'afresh',
 'africa',
 'african',
 'africanamerican',
 'africanamericanmusic',
 'africanamericanservant',
 'afrikaans',
 'afrikabambaataa',
 'afro',
 'afrodita',
 'afshinkhorshidbakhtiari',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'afternoon',
 'afterward',
 'afzel',
 'ag',
 'againsttheodds',
 'agamemnon',
 'age',
 'aged',
 'agedifference',
 'agee',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggravate',
 'aggression',
 'aggressionbyanimal',
 'aggressionbyplant',
 'aggressive',
 'aggressively',
 'aggressors',
 'aging',
 'agingactor',
 'aglet',
 'agnes',
 'agnesmoorehead',
 'agnew',
 'agnieszkaholland',
 'agnès',
 'agnèsjaoui',
 'agnèsmerlet',
 'agnèssoral',
 'agnèsvarda',
 'ago',
 'agon',
 'agopian',
 'agoraphobia',
 'agoraphobic',
 'agostino',
 'agree',
 'agreeable',
 'agreed',
 'agreeing',
 'agreement',
 'agrees',
 'agriculture',
 'agumon',
 'ah',
 'ahab',
 'ahead',
 'ahmad',
 'ahmed',
 'ahnsung',
 'aiads',
 'aibelli',
 'aid',
 'aidamohammadkhani',
 'aidan',
 'aidangillen',
 'aidanquinn',
 'aidantierney',
 'aide',
 'aided',
 'aides',
 'aids',
 'aikido',
 'aileen',
 'aileenquinn',
 'aileenritchie',
 'ailing',
 'ailments',
 'aim',
 'aimed',
 'aiming',
 'aimless',
 'aimlessly',
 'ain',
 'ainu',
 'air',
 'airattack',
 'airborne',
 'aircontroller',
 'aircraft',
 'aircraftcarrier',
 'aircraftexplosion',
 'aircraftfactory',
 'aired',
 'aires',
 'airforce',
 'airforceone',
 'airhead',
 'airline',
 'airliner',
 'airmarshal',
 'airmen',
 'airplane',
 'airplaneaccident',
 'airplanecrash',
 'airplanehijacking',
 'airplanes',
 'airplanewreck',
 'airport',
 'airports',
 'airraid',
 'airs',
 'airstrip',
 'airtrafficcontrol',
 'airwaves',
 'aisgill',
 'aisle',
 'aisles',
 'aitanasánchez',
 'aiyana',
 'aiyanaelliott',
 'aka',
 'akbarkurtha',
 'akeem',
 'aki',
 'akialeong',
 'akiavni',
 'akihikohirata',
 'akikaurismäki',
 'akimtamiroff',
 'akioohtsuka',
 'akira',
 'akirakurosawa',
 'akiratakarada',
 'akiratakayama',
 'akiraterao',
 'akiro',
 'akivasha',
 'al',
 'alabama',
 'alabaster',
 'aladdin',
 'alain',
 'alainberliner',
 'alainchabat',
 'alaincuny',
 'alaindelon',
 'alainlibolt',
 'alainresnais',
 'alaintanner',
 'alainzaloum',
 'alakinamann',
 'alamo',
 'alan',
 'alanaderoma',
 'alanalda',
 'alanarkin',
 'alanbadel',
 'alanbates',
 'alanboyce',
 'alanboyle',
 'alancohn',
 'alancox',
 'alancumming',
 'alanhale',
 'alanj',
 'alanjacobs',
 'alanking',
 'alanladd',
 'alanmckee',
 'alanmehrez',
 'alanmetter',
 'alanmiiller',
 'alanmyerson',
 'alannahong',
 'alanparker',
 'alanrickman',
 'alanruck',
 'alanrudolph',
 'alanshapiro',
 'alansmithee',
 'alantam',
 'alantaylor',
 'alanyoung',
 'alanzaslove',
 'alarm',
 'alarmclock',
 'alarmed',
 'alarming',
 'alas',
 'alaska',
 'alaskan',
 'alastairsim',
 'alba',
 'albaby',
 'albania',
 'albanian',
 'albany',
 'albatross',
 'albee',
 'albeit',
 'albert',
 'albertawatson',
 'albertband',
 'albertbrooks',
 'albertdekker',
 'alberteinstein',
 'albertfinney',
 'alberthall',
 'alberthenderson',
 'alberthughes',
 'albertine',
 'albertinen',
 'albertlewin',
 'alberto',
 'albertoestrella',
 'albertpyun',
 'albertrémy',
 'albertsharpe',
 'albin',
 'albino',
 'albright',
 'album',
 'albums',
 'albuquerque',
 'alcapone',
 'alcatraz',
 'alchemist',
 'alchoholic',
 'alcohol',
 'alcoholabuse',
 'alcoholic',
 'alcoholicfather',
 'alcoholics',
 'alcoholism',
 'alcott',
 'aldo',
 'alec',
 'alecbaldwin',
 'alecguinness',
 'aleck',
 'alecmccowen',
 'alejandrapodesta',
 'alejandro',
 'alejandroamenábar',
 'alejandrogonzáleziñárritu',
 ...]

In [38]:
import nltk

In [39]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [40]:
def stem(text):
    y = []
    
    for i in text.split():
         y.append(ps.stem(i))
            
    return " ".join(y)

In [41]:
new_df['tags'] = new_df['tags'].apply(stem)

C:\Users\ayush\AppData\Local\Temp\ipykernel_9408\3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
similarity = cosine_similarity(vectors)

In [44]:
sorted(list(enumerate(similarity[0])),reverse=True,key= lambda x:x[1])[1:6]

[(2979, 0.44160644396824594),
 (1916, 0.11926236764679748),
 (3291, 0.11382207864489444),
 (348, 0.11303562913975206),
 (4674, 0.10826639239215337)]

In [45]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key= lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [46]:
var = recommend('Toy Story')

Toy Story 2
Condorman
Creature Comforts
The Flintstones
Max Keeble's Big Move

In [55]:
import pickle

In [44]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [47]:
new_df['title'].values

array(['Toy Story', 'Jumanji', 'Grumpier Old Men', ...,
       'Get Out Your Handkerchiefs', 'Going Places', 'Honky Tonk Freeway'],
      dtype=object)

In [48]:
pickle.dump(new_df.to_dict(),open('movie_dict.pkl','wb'))

In [49]:
pickle.dump(similarity,open('similarity.pkl','wb'))

In [58]:
movies

,imdb_id,keywords,title,overview,genres,cast,crew,tags
0,tt0114709,"[jealousy, toy, boy, friendship, friends, riva...",Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[TomHanks, TimAllen, DonRickles]",[JohnLasseter],"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,tt0113497,"[boardgame, disappearance, basedonchildren'sbo...",Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[RobinWilliams, JonathanHyde, KirstenDunst]",[JoeJohnston],"[When, siblings, Judy, and, Peter, discover, a..."
2,tt0113228,"[fishing, bestfriend, duringcreditsstinger, ol...",Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ...","[Romance, Comedy]","[WalterMatthau, JackLemmon, Ann-Margret]",[HowardDeutch],"[A, family, wedding, reignites, the, ancient, ..."
3,tt0114885,"[basedonnovel, interracialrelationship, single...",Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ...","[Comedy, Drama, Romance]","[WhitneyHouston, AngelaBassett, LorettaDevine]",[ForestWhitaker],"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,tt0113041,"[baby, midlifecrisis, confidence, aging, daugh...",Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr...",[Comedy],"[SteveMartin, DianeKeaton, MartinShort]",[CharlesShyer],"[Just, when, George, Banks, has, recovered, fr..."
...,...,...,...,...,...,...,...,...
4995,tt0046828,"[opera, love, desire]",Carmen Jones,"[Version, of, the, Bizet, opera, set, in, Worl...","[Drama, Music, Romance]","[DorothyDandridge, HarryBelafonte, OlgaJames]",[OttoPreminger],"[Version, of, the, Bizet, opera, set, in, Worl..."
4996,tt0101891,[],The Five Heartbeats,"[In, the, early, 1960's,, a, quintet, of, hope...","[Drama, Music]","[RobertTownsend, MichaelWright, LeonRobinson]",[RobertTownsend],"[In, the, early, 1960's,, a, quintet, of, hope..."
4997,tt0078122,"[wifehusbandrelationship, 1970s, bisexuality, ...",Get Out Your Handkerchiefs,"[Solange, is, depressed:, she's, stopped, smil...","[Romance, Comedy, Drama]","[GérardDepardieu, PatrickDewaere, CaroleLaure]",[BertrandBlier],"[Solange, is, depressed:, she's, stopped, smil..."
4998,tt0072353,"[suicide, malenudity, femalenudity, bisexualit...",Going Places,"[Two, whimsical,, aimless, thugs, harass, and,...","[Drama, Comedy]","[GérardDepardieu, PatrickDewaere, Miou-Miou]",[BertrandBlier],"[Two, whimsical,, aimless, thugs, harass, and,..."
4999,tt0082525,[],Honky Tonk Freeway,"[Ticlaw,, a, small, town, in, Florida,, has, o...","[Action, Comedy]","[DavidRasche, PaulJabara, HowardHesseman]",[JohnSchlesinger],"[Ticlaw,, a, small, town, in, Florida,, has, o..."